/*=================================
  Banner styling starts here
=================================*/
.banner-img {
  position: relative;
  height: 540px;
  width: 100%;
  @include flex-styling(flex-end, flex-end);

  &:before {
    content: "";
    background-image: linear-gradient(
        rgba(255, 254, 254, 0.904),
        rgb(252, 252, 252)
      ),
      url("../images/leaves-free-img.png");
    width: 100%;
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
  }
}

.banner-content {
  position: relative;
  left: 15px;
  bottom: 65px;

  .wrapper {
    gap: 55px;
    @include flex-styling(normal, center);
  }
}

.organic-productContent {
  flex-basis: 70%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: $black;

  span {
    font-family: serif;
    font-size: 15px;
    font-weight: 600;
  }

  h2 {
    font-family: serif;
    font-size: 40px;
    font-weight: 600;
  }

  p {
    color: $grey1;
    font-size: 12px;
    line-height: 1.7;
  }
}

.banner-content .btn {
  width: 30%;
  &::before {
    @include icon-style("\f07a", $white, 10px);
  }
}
/*=================================
  Banner styling ends here
=================================*/
