/*=================================
  trending styling starts here
=================================*/
.trending {
    padding: 100px 0;

    .wrapper {
        text-align: center;

        h3 {
            padding-bottom: 15px;
            font-family: serif;
            font-size: 30px;
        }

        .logoleaf {
            width: 24%;
            margin: 0 auto;
        }
    }
}
/*=================================
  trending styling ends here
=================================*/